<h1>Listing bwimages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Photo</th>
    <th>Grayscale</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bwimages.each do |bwimage| %>
  <tr>
    <td><%= bwimage.title %></td>
    <td><%= image_tag bwimage.photo_url(:small) %></td>
    <td><%= image_tag bwimage.photo_url(:gray) %></td>
    <td><%= link_to 'Show', bwimage %></td>
    <td><%= link_to 'Edit', edit_bwimage_path(bwimage) %></td>
    <td><%= link_to 'Destroy', bwimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @bwimages %>

<br />
<%= link_to 'New Bwimage', new_bwimage_path %>

<div id="spine"></div>
